

// Generic
$background : #2e5849;
$bgInput : #1c382f;
$bordInput : #183129;
$shadow-input : inset 0px 0px 25px 25px rgba(0,0,0,.1);
$shadow-input-focus :inset 0px 0px 25px 25px rgba(0,0,0,.5);
$input-text : #fff;
$input-placeholder : rgba(255,255,255, .5);
$bgTask : #eee;
$borderTask : #ccc